/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom class for the typing cursor animation */
@layer utilities {
  .animate-blink {
    animation: blink 1s step-start infinite;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}