/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom class for the typing cursor animation */
@layer utilities {
  .animate-blink {
    animation: blink 1s step-start infinite;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Custom Swiper Styles for Dark Mode */
.swiper-pagination-bullet {
  background: #8892B0 !important; /* Secondary text color for inactive dots */
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #64FFDA !important; /* Teal accent color for active dot */
  opacity: 1;
}